In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=sns.load_dataset('tips')

In [3]:
data.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
data

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [5]:
data.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [7]:
data.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [8]:
data['sex'].value_counts()

sex
Male      157
Female     87
Name: count, dtype: int64

In [9]:
data['smoker'].value_counts()

smoker
No     151
Yes     93
Name: count, dtype: int64

In [10]:
x= data.drop('total_bill',axis=1)
y=data['total_bill']

In [11]:
x

      tip     sex smoker   day    time  size
0    1.01  Female     No   Sun  Dinner     2
1    1.66    Male     No   Sun  Dinner     3
2    3.50    Male     No   Sun  Dinner     3
3    3.31    Male     No   Sun  Dinner     2
4    3.61  Female     No   Sun  Dinner     4
..    ...     ...    ...   ...     ...   ...
239  5.92    Male     No   Sat  Dinner     3
240  2.00  Female    Yes   Sat  Dinner     2
241  2.00    Male    Yes   Sat  Dinner     2
242  1.75    Male     No   Sat  Dinner     2
243  3.00  Female     No  Thur  Dinner     2

[244 rows x 6 columns]

In [12]:
y

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [15]:
x_train

      tip     sex smoker   day    time  size
7    3.12    Male     No   Sun  Dinner     4
185  5.00    Male     No   Sun  Dinner     5
113  2.55    Male     No   Sun  Dinner     2
122  2.50    Male     No  Thur   Lunch     2
0    1.01  Female     No   Sun  Dinner     2
..    ...     ...    ...   ...     ...   ...
153  2.00    Male     No   Sun  Dinner     4
22   2.23  Female     No   Sat  Dinner     2
65   3.15    Male     No   Sat  Dinner     3
215  1.10  Female    Yes   Sat  Dinner     2
203  2.50  Female    Yes  Thur   Lunch     2

[170 rows x 6 columns]

In [16]:
y_train

7      26.88
185    20.69
113    23.95
122    14.26
0      16.99
       ...
153    24.55
22     15.77
65     20.08
215    12.90
203    16.40
Name: total_bill, Length: 170, dtype: float64

In [17]:
day= pd.get_dummies(x_train['day'])
day

      Thur    Fri    Sat    Sun
7    False  False  False   True
185  False  False  False   True
113  False  False  False   True
122   True  False  False  False
0    False  False  False   True
..     ...    ...    ...    ...
153  False  False  False   True
22   False  False   True  False
65   False  False   True  False
215  False  False   True  False
203   True  False  False  False

[170 rows x 4 columns]

In [18]:
x_train.drop('day',axis=1,inplace=True)
x_train=pd.concat([x_train,day],axis=1)

In [19]:
x_train

      tip     sex smoker    time  size   Thur    Fri    Sat    Sun
7    3.12    Male     No  Dinner     4  False  False  False   True
185  5.00    Male     No  Dinner     5  False  False  False   True
113  2.55    Male     No  Dinner     2  False  False  False   True
122  2.50    Male     No   Lunch     2   True  False  False  False
0    1.01  Female     No  Dinner     2  False  False  False   True
..    ...     ...    ...     ...   ...    ...    ...    ...    ...
153  2.00    Male     No  Dinner     4  False  False  False   True
22   2.23  Female     No  Dinner     2  False  False   True  False
65   3.15    Male     No  Dinner     3  False  False   True  False
215  1.10  Female    Yes  Dinner     2  False  False   True  False
203  2.50  Female    Yes   Lunch     2   True  False  False  False

[170 rows x 9 columns]

In [20]:
time=pd.get_dummies(x_train['time'])
time

     Lunch  Dinner
7    False    True
185  False    True
113  False    True
122   True   False
0    False    True
..     ...     ...
153  False    True
22   False    True
65   False    True
215  False    True
203   True   False

[170 rows x 2 columns]

In [21]:
x_train.drop('time',axis=1,inplace=True)
x_train=pd.concat([x_train,time],axis=1)
x_train

      tip     sex smoker  size   Thur    Fri    Sat    Sun  Lunch  Dinner
7    3.12    Male     No     4  False  False  False   True  False    True
185  5.00    Male     No     5  False  False  False   True  False    True
113  2.55    Male     No     2  False  False  False   True  False    True
122  2.50    Male     No     2   True  False  False  False   True   False
0    1.01  Female     No     2  False  False  False   True  False    True
..    ...     ...    ...   ...    ...    ...    ...    ...    ...     ...
153  2.00    Male     No     4  False  False  False   True  False    True
22   2.23  Female     No     2  False  False   True  False  False    True
65   3.15    Male     No     3  False  False   True  False  False    True
215  1.10  Female    Yes     2  False  False   True  False  False    True
203  2.50  Female    Yes     2   True  False  False  False   True   False

[170 rows x 10 columns]

In [22]:
smoker=pd.get_dummies(x_train['smoker'])
sex=pd.get_dummies(x_train['sex'])

In [23]:
smoker

       Yes     No
7    False   True
185  False   True
113  False   True
122  False   True
0    False   True
..     ...    ...
153  False   True
22   False   True
65   False   True
215   True  False
203   True  False

[170 rows x 2 columns]

In [24]:
sex

      Male  Female
7     True   False
185   True   False
113   True   False
122   True   False
0    False    True
..     ...     ...
153   True   False
22   False    True
65    True   False
215  False    True
203  False    True

[170 rows x 2 columns]

In [25]:
x_train.drop('smoker',axis=1,inplace=True)
x_train=pd.concat([x_train,smoker],axis=1)
x_train

,tip,sex,size,Thur,Fri,Sat,Sun,Lunch,Dinner,Yes,No
7,3.12,Male,4,False,False,False,True,False,True,False,True
185,5.00,Male,5,False,False,False,True,False,True,False,True
113,2.55,Male,2,False,False,False,True,False,True,False,True
122,2.50,Male,2,True,False,False,False,True,False,False,True
0,1.01,Female,2,False,False,False,True,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...
153,2.00,Male,4,False,False,False,True,False,True,False,True
22,2.23,Female,2,False,False,True,False,False,True,False,True
65,3.15,Male,3,False,False,True,False,False,True,False,True
215,1.10,Female,2,False,False,True,False,False,True,True,False
203,2.50,Female,2,True,False,False,False,True,False,True,False

In [26]:
x_train.drop('sex',axis=1,inplace=True)
x_train=pd.concat([x_train,sex],axis=1)
x_train

,tip,size,Thur,Fri,Sat,Sun,Lunch,Dinner,Yes,No,Male,Female
7,3.12,4,False,False,False,True,False,True,False,True,True,False
185,5.00,5,False,False,False,True,False,True,False,True,True,False
113,2.55,2,False,False,False,True,False,True,False,True,True,False
122,2.50,2,True,False,False,False,True,False,False,True,True,False
0,1.01,2,False,False,False,True,False,True,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...
153,2.00,4,False,False,False,True,False,True,False,True,True,False
22,2.23,2,False,False,True,False,False,True,False,True,False,True
65,3.15,3,False,False,True,False,False,True,False,True,True,False
215,1.10,2,False,False,True,False,False,True,True,False,False,True
203,2.50,2,True,False,False,False,True,False,True,False,False,True

In [27]:
x_test

      tip     sex smoker   day    time  size
141  6.70    Male     No  Thur   Lunch     6
119  2.92  Female     No  Thur   Lunch     4
5    4.71    Male     No   Sun  Dinner     4
71   3.00  Female     No   Sat  Dinner     3
37   3.07  Female     No   Sat  Dinner     3
..    ...     ...    ...   ...     ...   ...
176  2.00    Male    Yes   Sun  Dinner     2
76   3.08    Male    Yes   Sat  Dinner     2
129  2.18    Male     No  Thur   Lunch     3
43   1.32    Male     No   Sun  Dinner     2
126  1.48    Male     No  Thur   Lunch     2

[74 rows x 6 columns]

In [28]:
day= pd.get_dummies(x_test['day'])
time=pd.get_dummies(x_test['time'])
smoker=pd.get_dummies(x_test['smoker'])
sex=pd.get_dummies(x_test['sex'])

In [29]:
day

      Thur    Fri    Sat    Sun
141   True  False  False  False
119   True  False  False  False
5    False  False  False   True
71   False  False   True  False
37   False  False   True  False
..     ...    ...    ...    ...
176  False  False  False   True
76   False  False   True  False
129   True  False  False  False
43   False  False  False   True
126   True  False  False  False

[74 rows x 4 columns]

In [30]:
time

     Lunch  Dinner
141   True   False
119   True   False
5    False    True
71   False    True
37   False    True
..     ...     ...
176  False    True
76   False    True
129   True   False
43   False    True
126   True   False

[74 rows x 2 columns]

In [31]:
smoker

       Yes     No
141  False   True
119  False   True
5    False   True
71   False   True
37   False   True
..     ...    ...
176   True  False
76    True  False
129  False   True
43   False   True
126  False   True

[74 rows x 2 columns]

In [32]:
sex

      Male  Female
141   True   False
119  False    True
5     True   False
71   False    True
37   False    True
..     ...     ...
176   True   False
76    True   False
129   True   False
43    True   False
126   True   False

[74 rows x 2 columns]

In [33]:
x_test.drop('day',axis=1,inplace=True)
x_test=pd.concat([x_test,day],axis=1)
x_test.drop('time',axis=1,inplace=True)
x_test=pd.concat([x_test,time],axis=1)
x_test.drop('smoker',axis=1,inplace=True)
x_test=pd.concat([x_test,smoker],axis=1)
x_test.drop('sex',axis=1,inplace=True)
x_test=pd.concat([x_test,sex],axis=1)

In [34]:
x_test

,tip,size,Thur,Fri,Sat,Sun,Lunch,Dinner,Yes,No,Male,Female
141,6.70,6,True,False,False,False,True,False,False,True,True,False
119,2.92,4,True,False,False,False,True,False,False,True,False,True
5,4.71,4,False,False,False,True,False,True,False,True,True,False
71,3.00,3,False,False,True,False,False,True,False,True,False,True
37,3.07,3,False,False,True,False,False,True,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...
176,2.00,2,False,False,False,True,False,True,True,False,True,False
76,3.08,2,False,False,True,False,False,True,True,False,True,False
129,2.18,3,True,False,False,False,True,False,False,True,True,False
43,1.32,2,False,False,False,True,False,True,False,True,True,False
126,1.48,2,True,False,False,False,True,False,False,True,True,False

In [35]:
from sklearn.svm import SVR

In [36]:
model=SVR()

In [37]:
model.fit(x_train,y_train)

SVR()

In [38]:
prediction=model.predict(x_test)
prediction

array([27.93102016, 20.18454026, 27.48237706, 20.04719445, 20.28567272,
       16.57333312, 14.15386662, 14.74704508, 13.01548926, 20.26896969,
       15.65108175, 14.88943825, 17.04517699, 21.91717311, 23.95915708,
       21.73893399, 13.93766794, 17.12973419, 28.18292064, 18.90525329,
       16.18863834, 23.01927425, 12.14091106, 14.00066957, 17.91010671,
       15.86110205, 15.64299578, 22.44019214, 24.43972463, 16.18380187,
       21.66456864, 14.82716558, 16.71030614, 28.24326308, 18.84899641,
       17.41571996, 14.49928188, 15.51489282, 16.7564443 , 17.80568557,
       13.08377123, 13.76876006, 14.2949627 , 13.74961948, 13.08377123,
       18.28961374, 21.2566536 , 23.44776161, 19.40881966, 14.97869067,
       15.86036281, 16.43452366, 17.67972939, 14.15197863, 13.08377123,
       16.35601004, 21.49231402, 15.82131895, 17.45154728, 16.68184906,
       14.95914384, 17.95775827, 26.73891095, 13.01548926, 21.55579691,
       24.21301133, 20.26356586, 20.48993206, 29.56609026, 15.80489085,
       18.66080202, 15.32426488, 13.94521239, 12.26867471])

In [39]:
y_train

7      26.88
185    20.69
113    23.95
122    14.26
0      16.99
       ...
153    24.55
22     15.77
65     20.08
215    12.90
203    16.40
Name: total_bill, Length: 170, dtype: float64

In [40]:
from sklearn import metrics

In [41]:
print(np.sqrt(metrics.mean_squared_error(y_test,prediction)))

6.373856242086887